<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902554042930-njo0deunmu7f0652jccpcd525luberna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902554042930-njo0deunmu7f0652jccpcd525luberna</string>
	<key>API_KEY</key>
	<string>AIzaSyAfz_7g6JGPUnEaRYdm1TYG727cDxHvlIg</string>
	<key>GCM_SENDER_ID</key>
	<string>902554042930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irene.IAGlobantChat</string>
	<key>PROJECT_ID</key>
	<string>iaglobantchat</string>
	<key>STORAGE_BUCKET</key>
	<string>iaglobantchat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902554042930:ios:acf322bce924483971722b</string>
</dict>
</plist>